/* You can add global styles to this file, and also import other style files */
body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
}

a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  color:#00A0C6;
  text-decoration:none;
  cursor:pointer;
}

button {
  background-color: #000000;
  border: none;
  color: white;
  padding: 12px 9px;
  margin: .1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .9rem;
  border-radius: 7px;
}
button:hover{
  cursor: pointer;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}
